 <nav class="navbar-nav">
        <nav class="logo">
            <h1>Anime'<span>16</span></h1>
        </nav>
        <div class="items">
            <a href="/" class="item">Home</a>
            <a href="/anime/recommendations" class="item">Recommendation</a>
            <a href="/anime/top" class="item">Top</a>
        </div>
        <div class="search_body">
        <form action="/anime/search" method="get">
            <input type="text" placeholder="Search" name="q" id="Search-input">
            <input type="submit"  value="Search" class="submit_button">
        </form>
        </div>
    </nav>