    <%- include('partials/header') %>

    <section class="not-found">
        <div class="not-found_Img">
            <img src="/img/Tanjirou1.png" alt="">
        </div>
        <div class="not-found_description">
            <h1 class="not-found_title">404 NOT FOUND</h1>
            <p>You’ve gone off the map like a rogue ninja on the run.
                This page might have been moved, deleted, or sealed away with a forbidden jutsu.
                But don’t give up just yet every ninja gets lost sometimes.
                Use the navigation above to head back, or return to the homepage to start fresh.
             </p>
             <a href="/"> &larr; Back </a>
        </div>
        <div class="not-found_Img">
            <img src="/img/Tanjirou2.png" alt="">
        </div>
    </section>
<%- include('partials/footer') %>