<%- include('partials/header') %>
<%- include('partials/navbar') %>
<section class="container-home">
    <section class="content-home">
        <div class="img-content"><img class="img-cover" src="/img/coverImg.png" alt=""></div>
        <div class="text-content">
            <div>
            <div class="Genre"><h2>Welcome</h2></div>
            <h1 class="title">Explore Anime</h1>
            <p class="deskripsi">Dive into thrilling worlds, where heroes rise, mysteries unfold, and endless adventures await your eager imagination to explore and enjoy.</p>
            <button type="submit" class="Explore-btn">Explore Now</button>
            </div>
        </div>
    </section>
</section>
<%- include('partials/footer') %>